@import "./reset.css";

.pics-display-div {
  display: flex;
}
.btn-and-pics-div button {
  background-color: white;
  border-radius: 50%;
}
button:hover {
  cursor: pointer;
}

/* Not common */

.btn-and-pics-div {
  position: relative;
  border: 1px solid black;
}

.pics-display-div {
  width: 1024px;
  margin: 100px auto;
  display: flex;
  overflow: scroll;
}
.pics-display-div > div {
  display: flex;
}
.pics-display-div img {
  height: 500px;
  object-fit: cover;
}
.btn-and-pics-div button {
  height: 50px;
  width: 50px;
}
.fa-chevron-left,
.fa-chevron-right,
.fa-download {
  font-size: 32px;
}
#prev-btn {
  position: absolute;
  left: 350px;
  top: 300px;
}
#next-btn {
  position: absolute;
  right: 450px;
  top: 300px;
}
