@import "./reset.css";

.pics-display-div {
  display: flex;
}
.btn-and-pics-div button {
  background-color: white;
  border-radius: 50%;
}
button:hover {
  cursor: pointer;
}

/* Not common */

.btn-and-pics-div {
  position: relative;
  border: 1px solid black;
}

.pics-display-div {
  width: 800px;
  margin: 100px auto;
  display: flex;
  overflow-y: scroll;
}
.pics-display-div::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.pics-display-div > div {
  display: flex;
}
.pic-div {
  width: 800px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.pic-div img {
  max-width: 800px;
  margin: 0 auto;
  object-fit: contain;
}
.pic-div div {
  margin: 0 auto;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.btn-and-pics-div button {
  height: 50px;
  width: 50px;
}
.fa-chevron-left,
.fa-chevron-right,
.fa-download {
  font-size: 32px;
}
#prev-btn {
  position: absolute;
  left: 350px;
  top: 300px;
}
#next-btn {
  position: absolute;
  right: 450px;
  top: 300px;
}
